# requirements_essential.txt
# Core dependencies required to run the Student Success project.
# Includes only packages used directly in the application code.
# Suitable for production or deployment environments.

# Created: 2025-06-13
openpyxl
aiohttp==3.8.5
bokeh==3.6.0
census==0.8.21
matplotlib==3.10.1
numpy==1.26.4
pandas==2.2.3
plotly==6.0.1
pydot==1.4.2
pytest==6.2.5
scipy==1.15.2
