# requirements_nonessential.txt
# Various packages used at some point in project development but not necessary for
# Student Success package to run. This is only a list to trigger my memory for later
# development.

# Created: 2025-06-13

Babel
CensusData
Jinja2
Mako
Markdown
MarkupSafe
PyQt5
PyQt5-Qt5
PyQt5-sip
PyYAML
Pygments
QtPy
Rtree
SQLAlchemy
Send2Trash
Sphinx
adjustText
affine
aiosignal
alabaster
alembic
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
atomicwrites
attrs
beautifulsoup4
bleach
bs4
build
catboost
certifi
cffi
charset-normalizer
choreographer
click
click-plugins
cligj
cloudpickle
colorama
colorcet
colorlog
comm
commonmark
contextily
contourpy
curve
cycler
dask
dask-expr
dask-glm
dask-ml
debugpy
decorator
defusedxml
distributed
docutils
et-xmlfile
exceptiongroup
executing
fastjsonschema
filelock
fiona
flake8
flake8-html
fonttools
fqdn
frozenlist
fsspec
genbadge
geographiclib
geopandas
geopy
graphviz
greenlet
h11
haversine
holoviews
httpcore
httpx
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
jellyfish
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-highlight-selected-word
jupyter-lsp
jupyter_bokeh
jupyter_client
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_nbextensions_configurator
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_latex
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
kiwisolver
lazy_loader
lckr_jupyterlab_variableinspector
lightgbm
lime
line
linkify-it-py
llvmlite
locket
logargparser
logistro
lxml
markdown-it-py
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
memory-profiler
mercantile
mistune
mlxtend
mpmath
msgpack
multidict
multipledispatch
narwhals
nb_search
nbclient
nbconvert
nbformat
nbsphinx
nest-asyncio
networkx
notebook
notebook_shim
numba
opencv-python
openpyxl
optuna
orjson
overrides
packaging
pandocfilters
panel
param
parso
partd
patsy
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
pure-eval
py
pyarrow
pyasn1
pycodestyle
pycparser
pyflakes
pyogrio
pyparsing
pyproj
pyproject_hooks
pysmatch
pytest-pythonpath
python-calamine
python-dateutil
python-dotenv
python-json-logger
pytz
pyviz_comms
pywin32
pywinpty
pyzmq
qtconsole
rasterio
recommonmark
referencing
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rinoh-typeface-dejavuserif
rinoh-typeface-texgyrecursor
rinoh-typeface-texgyreheros
rinoh-typeface-texgyrepagella
rinohtype
rpds-py
rsa
scikit-image
scikit-learn
seaborn
shap
shapely
simplejson
six
sklearn-compat
slicer
sniffio
snowballstemmer
snuggs
sortedcontainers
soupsieve
sparse
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
statsmodels
sympy
tabulate
tblib
tenacity
terminado
threadpoolctl
tifffile
tinycss2
tk
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
us
ushahidi_sphinx_rtd_theme
usingversion
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xgboost
xyzservices
yarl
zict
zipp
